body {
    padding: 8px;
    max-width: 1200px;
    margin: 0 auto;
}

main {
    max-width: 480px;
    margin: 0 auto;
}

.task-card {
    border: 1px solid lightgray;
    border-radius: 8px;
    margin: 16px auto;
    padding: 8px;
    background: #f9f9f9;
    color: black;
}

.task-card .task-card-from {
    font-style: italic;
}

.task-card .task-card-status {
    font-weight: 500;
}

.task-card .task-card-edited {
    font-size: 0.8em;
}
